/* home page responsive */

@media only screen and (min-width:1920px) {    
}

@media only screen and (min-width:1600px) and (max-width:1900px){

}

@media only screen and (min-width:1300px) and (max-width:1390px){
    
}
@media only screen and (min-width:1200px) and (max-width:1280px){
    .sec5contain {
        padding: 0px 170px 0 60px;
    }

    .sec5contain h2{
        font-size: 43px;
    }
    .section2 h2{
        padding: 0px 120px 15px 120px;
    }

    .carousel-indicators [data-bs-target] {
        width: 170px;
        height: 130px;}
        
.foot1 h2{
    font-size: 12px;
}
        







}
@media only screen and (max-width:1180px){
    .nav-item i {
        font-size: 0px;}


        /* .carousel-indicators [data-bs-target] {
            width: 165px;
            height: 140px;} */

            /* .carousel-indicators {
                left: -580px;
                bottom: 20px;
            } */


            /* .mainheading h1{
                font-size: 40px;
            } */

            .section2 h2{
                padding: 0;
            }
            .section2 p{
                font-size: 13px;
            }
            .sec5contain {
                padding: 0px 100px 0 60px;
            }
            /* .sec5contain h2 {
                font-size: 41px;
            } */
            .nav-link {
                font-size: 14px;
            }
            .mainheading h1 {
                font-size: 30px;
            }
            .carousel-indicators [data-bs-target] {
                width: 140px;
                height: 130px;
            }

            .carousel-indicators {
                left: -500px;
                bottom: 20px;
            }
            .section2{
                padding: 150px 170px;
            }
            .sec5contain h2 {
                font-size: 35px;
            }
            .foot2 a{
                font-size: 13px;
            }
            .sec6cart h2 {
                font-size: 20px;
            }

            .sec6cart p{
                font-size: 13px;
            }

            .foot1 {
                width: 80%;
            }

            .foot1 h2{
                font-size: 11px;
            }


}
@media only screen and (max-width:991px){
    

    .carousel-indicators {
        left: 24px;
    }
    .carousel-indicators [data-bs-target] {
        height: 10px;
        width: 10px;
    }
    /* .mainheading{
        padding: 0 100px 0 32px;
    } */
.section2{
    padding: 150px 60px;
}

.sec3space{
    row-gap: 25px;
}


.sec5contain {
    padding: 50px 0px 0 30px;
}

.sec5contain h2{
    font-size: 41px;
}
.sec5contain p{
    font-size: 15px;
}
.foot2 {
    width: 100%;}
    
    .navbar-brand {
        width: 11%;
    }
    .mainheading{
        background-color: #deb887d4;
        padding: 40px 30px 40px 32px;
    }
.top{
    top: 300px;
    left: 185px;
}

/* .top{
    top: -50%;
left: -50%;
transform: translate(-50%,-50%);

} */
.mainheading h1 {
    font-size: 55px;
    margin-bottom: 10px;
}
.mainheading p{
    font-size: 20px;
}
.navbar-brand {
    width: 10%;
}
.foot1 img {
    width: 100%;
}
.foot1 {
    width: 50%;
}
.sec6cart i {
    font-size: 80px;}

    .sec6cart h2 {
        font-size: 25px;
    }

    .sec6cart p {
        font-size: 16px;
    }
.secpad{
    padding: 0;
}

.mainheading a{
    font-size: 20px;
}


/* about */

.secabou2 h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.secabou2 p{
    font-size: 14px;
}

.aboutlayer {
    top: 42%;
    left: 40%;
}
.sec6cart i {
    font-size: 60px;
}
.foot1 {
    width: 25%;
}
.foot1 h2 {
    font-size: 11px;
    text-align: center;
}

.section3about{
    padding: 50px 0;
}

.aboutcontain h2{
    font-size: 38px;
}
.secabou2 {
    padding: 0px 30px 0px 30px;
}
.rowimg2 {
    height: 200px;}


    .section4v video{
        height: 500px;
    }


/* contact  */

.info-contacts h2{
    font-size: 22px;
}








}

@media screen and (max-width:767px){
    .mainheading{
        background-color: #deb887d4;
        padding: 15px 100px 20px 32px;
    }
.top{
    top: 150px;
    left: 185px;
}

.mainheading h1 {
    font-size: 27px;
    margin-bottom: 10px;
}
.mainheading p{
    font-size: 15px;
}
.section2logo {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    flex-direction: column;
}


.s2logo{
    margin: auto;
}
.section2 h2{
    font-size: 31px;
}
.section2 h3{
    font-size: 19px;
}
.sec5contain {
    padding: 30px;
}

.foot1 h2{
    text-align: center;
}
.foot3{
    text-align: center;
}
.design1 img{
    height: auto;
    aspect-ratio: 9/16;
}

/* aBout */
.aboutcontain h2{
    font-size: 35px;
}
.secabou2 {
    padding: 0 0px;
}
.secabou2 h2{
    text-align: center;
    padding-right: 0;
}
.secabou2 p{
    text-align: center;
    font-size: 13px;
    margin-bottom: 50px;
}
.justyend{
    justify-content:start;
    justify-content: space-between;
}
.aboutresponse-space{
    justify-content: space-between;
}
.burgerimg {
    width: 70%;
}

.burgerimg img{
  height: 240px;  
}

.burgerimg2 {
    width: 70%;
}

.burgerimg2 img{
  height: 240px;  
}







}







@media screen and (max-width:525px){

    .navbar-brand {
        width: 20%;
    }

    .mainheading{
        padding: 15px 20px 20px 20px;
}
.mainheading h1 {
    font-size: 22px;}
.mainheading p {
    font-size: 13px;
    margin-bottom: 20px;
}

.mainheading a{
    font-size: 13px;
}
.top {
    /* top: 140px;
    left: 100px; */
    top: 200px;
    left: 125px;
/* top: -50%;
left: -50%;
transform: translate(-50%,-50%); */

}
.carousel-indicators {
    left: -25px;
}

.section2 {
    padding: 80px 20px;
}
.secpad{
    padding: 0;
}
.sec3img h2{
    padding: 70px 18px;
    left: 35%;
    font-size: 25px;
}
.sec3img img {
    height: 400px;}
    
.foot1 img{
    width: 100%;
}
.foot1{
    width: 40%;
}
/* .mainheading {
    padding: 15px 14px 20px 15px;
} */

/* about */
.aboutcontain h2 {
    font-size: 24px;
}

.logos2 {
    width: 28%;
}

.aboutlayer {
    width: 60%;}
    .aboutlayer {
        top: 28%;
        left: 20%;
    }
    .sec6cart i {
        font-size: 50px;
    }

    .section7 h2{
        font-size: 30px;
    }

/* contact page  */
.info-contacts h2 {
    font-size: 25px;
}
.info-contacts{
    padding-bottom:40px ;
}


}


@media screen and (max-width:375px){
    .top {
        top: 150px;
        left: 85px;
    }
    .mainheading h1 {
        font-size: 15px;
    }
    .mainheading p {
        font-size: 9px;
        margin-bottom: 10px;
    }
    .mainheading a {
        font-size: 10px;
    }
    .navbar-brand {
        width: 25%;
    }
    .section2 h2 {
        font-size: 24px;
    }

    .section2 h3 {
        font-size: 15px;
    }
    .section2 p {
        font-size: 9px;
    }
    .s2logo {
        width: 30%;
    }
    .sec3img h2 {
        padding: 60px 15px;
        left: 31%;
        font-size: 20px;
    }
    .csec3img h2 {
        font-size: 13px;
    }


    .section4 h2{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .section4 span{
        font-size: 10px;
    }

.sec4card h3{
    font-size: 15px;
}
.section4 {
    padding: 50px 0;
}
.section5 {
    padding: 50px 0;
}
.sec5contain h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.sec5contain p {
    font-size: 13px;
}

.sec5contain a {
   
    font-size: 12px;
    padding: 8px 11px;
    border: 1px solid black;
}
.sec6cart i {
    font-size: 50px;
}

.sec6cart h2 {
    font-size: 20px;
}
.sec6cart p {
    font-size: 11px;
}

.section7 h2{
    font-size: 30px;
}

.section7 h2{
    font-size: 14px;
}
.section7 input {
    width: 50%;}
    .foot1 {
        width: 35%;
    }
    .foot1 h2 {
        font-size: 7px;
    }

    .foot2 a {
        font-size: 10px;
    }






}









































































